* {
  margin: 0;
  padding: 0;
}

.box {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  margin: 5px;
}

.line1 {
  display: block;
}

.line2 {
  display: inline;
}

.line3 {
  display: inline-block;
}

.line4 {
  display: none;
}

.b1 {
  height: 100px;
  width: 200px;
}

#first {
  background-color: cornflowerblue;
}

#second {
  background-color: chocolate;
  width: 50%;
  height: 50%;
}

#one {
  width: 100vw;
  height: 100px;
  background-color: blue;
}

#two {
  width: 25rem;
  background-color: bisque;
  height: 25%;
}

.area {
  height: 100px;
  width: 100px;
  margin: 25px;
  background-color: aquamarine;
}

#area1 {
  position: absolute;
}

#area2 {
  top: 50px;
  left: 90px;
  position: relative;
}

#area3 {
  top: 50px;
  left: 90px;
  position: fixed;
}

#area4{
  top: 25px;
  left: 100px;
  position: static;
}