* {
  margin: 0;
  padding: 0;
}

#container {
  width: 300px;
  height: 110px;
  border: 1px solid black;
}

.box {
  height: 100px;
  width: 100px;
  margin: 5px;
}

#box1{
    background-color: red;
    float: right;
}

#box2{
    background-color: green;
    float: left;
}