/* *{
    margin: 0px;
    padding: 0px;
}

#container{
    height: 300px;
    width: 600px;
    margin: 25px;
    padding: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 80px 100px;
    grid-template-rows: 80px 100px;
}

#item1{
    grid-row: 2/2;
    grid-column: 2/2;
    background-color: blue;
}

#item2{
    grid-row: 2/2;
    grid-column: 1/2;
    background-color:red;
}

#item3{
    grid-row: 1/2;
    grid-column: 2/2;
    background-color: yellow;
}

#item4{
    grid-row: 1/1;
    grid-column: 1/2;
    background-color: blue;
} */

.box{
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: lightsalmon;
}

@media screen and (min-width:300px)
and (max-width:350px){
    .box{
        background-color: blueviolet;
        border: 2px solid red;
        border-radius: 50%;
    }
}