*{
    background-color: black;
}
.Top_heading{
    color: red;
}

#heading p{
    color: aqua;
}

#id , .subheading{
    color: purple;
}

#first p{
    color: darkorange;
}

#second p{
    color: rgb(255, 0, 225);
}