.loader{
    height: 25px;
    width: 90%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: gainsboro;
    position: relative;
    left: 10%;
}

.ball{
    height: 100%;
    width: 50%;
    background-color: blueviolet;
    border-radius: 20px;
    
    animation: progress 3s;
}

@keyframes progress{
    0%{width: 0%;}
    90%{width: 95%;}
    95%{width: 70%;}
    100%{width: 100%;}
}