* {
  margin: 0;
  padding: 0;
}

#box1 {
  background-color: rgb(150, 150, 232);
}

#box1 h1{
    color: rgb(1, 19, 19 ,0.5);
}

main{
    background-color: chartreuse;
    height: 500px;
}

#contact{
    background-image: url(Images/Navbar.jpg);
    height: 500px;
    width: 1000px;
    background-repeat: no-repeat;
    backface-visibility: visible;
}