* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

#heading {
  text-align: center;
}

#heading h1 {
  text-transform: uppercase;
}

#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
}

#icon{
    color: chartreuse;
}