* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  width: 100%;
  height: 44px;
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.nav-item {
  text-decoration: none;
  color: #606061;
  font-size: 17px;
  font-weight: 400;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: capitalize;
}
