* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: content-box;
}

header {
  display: flex;
  background-color: #a88989;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.myntra_logo {
  height: 45px;
  margin-left: 4%;
}

.action_bar {
  margin-right: 4%;
}

.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
}

.nav_bar a {
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  color: #282c3f;
  letter-spacing: 0.3px;
}

.nav_bar a sup {
  font-size: 10px;
  color: #ff3f6c;
  text-transform: uppercase;
}

.search_bar {
  height: 40px;
  min-width: 400px;
  display: flex;
  align-items: center;
  
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: 282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}
